form {
  background: white;
  padding: 1rem;
  border-radius: 6px;
  text-align: left;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

/* INPUT FIELDS */
input, select, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
}

/* CHECKBOX INLINE */
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* RADIO BUTTONS STACKED */
.radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

/* REQUIRED STAR */
.required {
  color: red;
}

/* BUTTON */
button {
  margin-top: 1rem;
  padding: 0.6rem;
  background: #c8102e;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #a00d24;
}