:root {
  --primary: #003049;
  --accent: #f77f00;
  --light: #fdf0d5;
}

main {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

/* Weather icon (large view only) */
@media (min-width: 768px) {
  .weather h2::after {
    content: " ⛅";
  }

  .weather img {
    display: none; /* hide SVG on large view */
  }
}